/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require chosen 
*/

/*CUSTOM CSS*/
#btn-content{
	text-align:center;
	width:100%;
}

.form-container{
	min-height:50px;
	padding:10px;
	text-align:center;
	margin:5px;
}

form#search-multiplex{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:20%;
}
form#search{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:70%;
}

form#search_royal{
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
form#search div , form#search label  {
	float:left;
	margin-right:10px;
}

form#search label {
	margin-right:20px;
	margin-left:5px;
}

input#submit-search{
	width:50px;
}

span.advice{
	color: #0062DA;
	position: absolute;
	left: 38%;
	display:none;
}

div#multiplex-respond{
	margin-top:30px;
}